services:
  api:
    build: 
      context: .
      dockerfile: docker/dev/Dockerfile
    container_name: go-skeleton-app
    volumes:
      - ./:/app
    env_file:
      - .env
    ports:
      - "8081:8081"
    networks:
      - go-skeleton-network

  mysql:
      image: mysql:latest
      container_name: mysql-container
      environment:
        MYSQL_ROOT_PASSWORD: my-secret-pw
        MYSQL_DATABASE: my_database
      ports:
        - "3306:3306"
      volumes:
        - mysql-data:/var/lib/mysql
  
networks:
  go-skeleton-network:
    driver: bridge

volumes:
  mysql-data: