# Postgres
POSTGRES_HOST=postgres-container
POSTGRES_PORT=5432
POSTGRES_USER=postgres_usr
POSTGRES_PASSWORD=postgres_pwd
POSTGRES_DB=postgres
POSTGRES_SCHEMA=public

# MySQL
MYSQL_HOST=mysql-container
MYSQL_PORT=3306
MYSQL_USER=app_user
MYSQL_PASSWORD=app_pwd
MYSQL_DB=my_database
